server:
  port: 8080

spring:
  application:
    name: laundryService

  datasource:
    url: jdbc:postgresql://localhost:5432/laundryService
    username: postgres
    password: BatmanPostgres*#0706#

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#        default_schema: laundry